* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}
.mini-title{
    margin-left: 40px;
}
/* Header Style */
.header {
    background-color: white;
    color: black;
    padding: 10px 20px;
    display: flex;
}
.logo {
    width: 120px;
    height: 80px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.nav-menu {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu ul {
    list-style: none;
    display: flex;
    font-size: 18px;
    gap: 50px;
}
.nav-menu ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.nav-menu ul li a:hover {
    color: #007BFF;
}
.CTA {
    margin-left: 20px;
    align-self: center;
}
.CTA button {
    margin-left: 10px;
    padding: 8px 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-radius: 14px;
}
.CTA button a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.CTA button:hover {
    background-color: #007BFF;
}
.CTA button:hover a {
    color: white;
}

/* Main Content Styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* footer Styles */
.contact-info {
    background-color: white;
    color: black;
    padding: 20px 0;
    text-align: center;
}
.contact-info ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-info ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.contact-info ul li a:hover {
    text-decoration: underline;
}